@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

div {
  display: flex;
}

.column {
  flex-direction: column;
}

a {
  text-decoration: none;
}

p, h2 {
  margin: 0;
}

.navButtonBlock, .headerLogo, .slider-item-content, form, .navContainerBlock {
  margin-left: 9.38vw;
}

header {
  width: 100vw;
  height: 10.42vw;
  background-color: #FFF;
}

.headerLogo {
  width: 12.92vw;
  height: 3.47vw;
  padding-top: 1.74vw;
  padding-bottom: 1.04vw;
}

.navButtonBlock {
  width: 44.03vw;
  height: 4.17vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButton {
  color: #99A2AA;
  font-size: 1.11vw;
  transition: 1.5s;
}
.navButton:hover {
  color: black;
  font-size: 1.21vw;
  transition: 1s;
}

.tabPanel {
  width: 100vw;
  height: 31.25vw;
  background-color: #FEC524;
  flex-direction: column;
}

.tabPanelContainer {
  width: 83.33vw;
  height: 14.72vw;
  flex-direction: column;
  padding-top: 2.08vw;
}

.trackingInput {
  width: 39.58vw;
  height: 5vw;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.69vw;
  border-style: none;
  background: #FFF;
  font-family: Rubik, sans-serif;
  font-size: 1.11vw;
  color: #757575;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  padding-left: 2.08vw;
}

.containerButton {
  display: flex;
  width: 18.72vw;
  height: 5.56vw;
  border-radius: 0.69vw;
  background-color: #FFF;
  box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
  text-decoration: none;
  font-size: 1.42vw;
  font-weight: 700;
  color: #99A2AA;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}

.containerButton:hover {
  color: black;
  transition: 2.5s;
}

.tabPanelContainer {
  flex-direction: column;
  position: relative;
  top: 3.91vw;
}

.navContainerBlock {
  width: 83.33vw;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  margin-top: 2.08vw;
}

.navContainerBlock img {
  width: 2.08vw;
  height: 2.08vw;
  margin-right: 1.39vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.slider-item-content {
  width: 39.58vw;
  height: 15.97vw;
  flex-direction: column;
}

.slider-item-content h2 {
  color: white;
  font-size: 3.06vw;
  font-weight: 700;
  line-height: 4.17vw;
  margin: 3.75vw 0 2.36vw 0;
}

.slider-item-content p {
  font-size: 1.39vw;
  margin: 0;
  color: #0E2F4B;
}

.services-block-1 {
  width: 100vw;
  height: 55.56vw;
  background-color: #F8F8F8;
}

.services-block-1 > div {
  margin-left: 9.38vw;
}

.services-block-1 > div > div {
  margin-top: 6.94vw;
}

.services-block-1-left {
  width: 27.78vw;
  height: 43.75vw;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}

.services-block-1-left h2 {
  color: #0E2F4B;
  font-size: 3.33vw;
  font-style: normal;
  font-weight: 700;
  margin: 3.4vw 0 0.83vw 0.83vw
}

.services-block-1-left p {
  color: #0E2F4B;
  font-size: 1.11vw;
  font-weight: 400;
  line-height: 2.08vw;
  margin: .83vw 1.15vw 0 1.04vw;
}

.services-block-1-right {
  width: 25.69vw;
  height: 12.5vw;
  justify-content: center;
  align-items: normal;
  margin: 0 1.04vw 2.08vw;
  flex-direction: column;
  padding-left: 2.08vw;
  transition: 1.5s;
}

.services-block-1-right:hover {
  background-color: #FEC524;
  transition: 2s;
}

.services-block-1-right h4 {
  color: #0E2F4B;
  font-size: 1.67vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.22vw;
  margin: 0;
}

.services-block-1-right p {
  color: #0E2F4B;
  font-size: 0.97vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.39vw;
  margin-top: 0.83vw;
}

.export-code-block {
  width: 100vw;
  height: 45.83vw;
  background-color: #042C4B;
}

.export-code-block .container {
  margin: 8.33vw 9.38vw 10.42vw 9.38vw;
  width: 48.61vw;
  height: 27.08vw;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.export-code-block h2 {
  padding-left: 1.04vw;
  padding-right: 6.46vw;
  color: #F8F8F8;
  font-size: 3.33vw;
  font-style: normal;
  font-weight: 700;
  line-height: 4.17vw;
  margin: 0;
  padding-bottom: 2.5vw;
}

.export-code-block p {
  color: #99A2AA;
  font-family: Open Sans, serif;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.08vw;
  padding-left: 1.04vw;
}

.export-code-block a {
  display: flex;
  width: 21.18vw;
  height: 5.56vw;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.69vw;
  background: #FDC13D;
  color: #0E2F4B;
  font-size: 1.39vw;
  font-weight: 700;
  margin: 3.06vw 0 0 2.08vw;
}

.services-block-2 {
  width: 100vw;
  height: 61.11vw;
  background-color: #F8F8F8;
}

.services-block-2 > .container {
  width: 83.33vw;
  height: 54.17vw;
  margin: 6.94vw 8.33vw 0 8.33vw;
  flex-wrap: wrap;
}

.services-block-2 > .container > a > .Tabpanel {
  width: 81.25vw;
  height: 15.8vw;
  border-radius: 0.69vw;
  background: #FDC13D;
  justify-content: center;
  flex-direction: column;
  margin: 0 1.04vw 8.4vw 1.04vw;
}

.services-block-2 h4 {
  color: #0E2F4B;
  font-size: 1.67vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.22vw;
  margin: 3.61vw 8.19vw 1vw 5.21vw;
}

.services-block-2 p {
  color: #0E2F4B;
  font-family: Open Sans, serif;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.08vw;
  margin-left: 5.21vw;
}

.services-block-2 h6 {
  color: #0E2F4B;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.67vw;
  margin-left: 5.21vw;
  margin-top: 0.83vw;
}

.services-block-2 h2 {
  width: 100%;
  height: 3.96vw;
  color: #0E2F4B;
  font-size: 3.33vw;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 0 1.04vw;
}

.finServices {
  width: 18.75vw;
  height: 18.75vw;
  display: flex;
  flex-direction: column;
  margin: 0 1.04vw 0 1.04vw;
}


.finServices h4 {
  margin: 2.22vw 9.72vw 0 0;
  transition: 1.5s;
}

.finServices h4:hover {
  color: #FDC13D;
  transition: 1.5s;
}

.finServices > p {
  color: #0E2F4B;
  font-size: 0.97vw;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.39vw;
  margin: 0.9vw 0 0 0;
}

.zip-code-block {
  width: 100vw;
  height: 44.1vw;
  background-color: #0E2F4B;
}

.zip-code-block > .container {
  width: 83.33vw;
  height: 25.35vw;
  margin: 9.38vw 8.33vw;
  flex-direction: column;
}

.zip-code-block h2 {
  color: #F8F8F8;
  font-size: 3.33vw;
  font-style: normal;
  font-weight: 700;
  line-height: 4.17vw;
  margin: 2.08vw 0 0 1.04vw;
}

.zip-code-block p {
  color: #99A2AA;
  font-family: Open Sans, serif;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.08vw;
  margin: 2.5vw 3.47vw 0 1.04vw;
}

.zip-code-block form {
  margin: 5.56vw 1.04vw 2.08vw 1.04vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.cityInput {
  width: 35.14vw;
  height: 5.42vw;
  border-radius: 0.69vw;
  border: 0.07vw solid #E8EBEE;
  background: #FFF;
  color: #6C757D;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 2.08vw;
}

.findCityButton {
  width: 17.36vw;
  height: 5.56vw;
  border-radius: 0.69vw;
  border: none;
  background: #FDC13D;
  color: #0E2F4B;
  text-align: center;
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 700;
  margin-left: 0.76vw;
}

.middle-block {
  width: 100vw;
  height: 90.56vw;
  background-color: #F8F8F8;

}

.middle-block .container {
  width: 83.33vw;
  height: 78.06vw;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 6.94vw 8.33vw 5.56vw 8.33vw;
}

.middle-block h2 {
  width: 100%;
  color: #0E2F4B;
  font-size: 3.33vw;
  font-style: normal;
  font-weight: 700;
  line-height: 4.17vw;
  margin: 1.04vw;
}

.middle-block h3 {
  width: 100%;
  color: #0E2F4B;
  font-size: 3.33vw;
  font-style: normal;
  font-weight: 700;
  line-height: 4.17vw;
  margin: 7.71vw 1.04vw 2.08vw 1.04vw;
}

.newsBlock {
  width: 39.58vw;
  height: 17.36vw;
  border-radius: 0.69vw;
  background: #FFF;
  display: flex;
  flex-direction: column;
  margin: 1.04vw;
  flex-wrap: wrap;
}

.newsIcons {
  width: 6.94vw;
  height: 6.94vw;
  margin: 2.08vw 0 0 2.08vw;

}

.newsBlock h6 {
  height: 1.32vw;
  color: #99A2AA;
  font-family: Open Sans, sans-serif;
  font-size: 0.97vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67vw;
  margin: 2.22vw 0 0.63vw 10.42vw;
  position: absolute;
}

.newsBlock h4 {
  width: 27.08vw;
  color: #0E2F4B;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.67vw;
  margin: 4.17vw 1.04vw 1.67vw 10.42vw;
  position: absolute;
}

.newsBlock p {
  color: #0E2F4B;
  font-family: Open Sans, sans-serif;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.08vw;
  margin-left: 2.08vw;
  padding-top: 1.67vw;
}

.refBlock {
  width: 25.69vw;
  height: 6.39vw;
  border-radius: 0.69vw;
  background: #FFF;
  margin: 1.04vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99A2AA;
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.22vw;
  transition: 1.5s;
}

.refBlock:hover {
  color: black;
  transition: 1.5s;
}

.branches-block {
  width: 100vw;
  height: 34.72vw;
  background-color: #FEC524;
}

.branches-block > div {
  width: 80.42vw;
  height: 25.14vw;
  margin: 6.25vw 9.38vw 3.47vw;
  flex-direction: column;
}

.branches-block > div h2 {
  color: #FFF;
  font-size: 3.33vw;
  font-style: normal;
  font-weight: 700;
  margin-top: 2.08vw;
}

.branches-block > div p {
  color: #0E2F4B;
  font-family: Open Sans, sans-serif;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  margin: 2.5vw 0 1.88vw 0;
}

.branches-block > div h4 {
  color: #0E2F4B;
  font-size: 1.18vw;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.storeIcon {
  width: 11.81vw;
  height: 3.47vw;
  margin: 1.04vw 1.67vw 2.6vw 0;
  border-radius: 5px;
}

.socialMediaIcon {
  width: 2.64vw;
  height: 2.64vw;
  margin: 1.04vw 1.39vw 0 0;
}

footer {
  width: 100vw;
  height: 54.79vw;
  background-color: #1D2023;
}

.footerMenu {
  width: 81.25vw;
  height: 47.29vw;
  margin: 0 8.33vw 7.5vw;
  border-bottom: 1px solid #99A2AA;
}

.footerMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0.63vw 0 0 0;
}

.footerMenu h6 {
  color: #FFF;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.39vw;
  margin: 6.94vw 0 1.67vw 1.04vw;
}

.footerMenu a {
  color: #99A2AA;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  transition: 1.5s;
}

.footerMenu a:hover{
  color: white;
  transition: 1s;
}

.footerMenu li {
  margin: 1.04vw 0 0 1.04vw;
}

.footerMenu > section {
  width: 20.83vw;
  height: 43.75vw;
}
